
$font_size: 16px;
$font_family: 'Open Sans';

$f_value: 35px;
$f_text: 25px;

$c_red: #FF0000;
$c_green: #078C09;
$c_yellow: #F1CC31;
$c_white: #fff;
$c_blue: #4879FB;



$c_blue_dark: #2A448A;
$c_pink: #FF00FF;

$c_bg: #0D1019;
$c_panel: #242731;
$c_text_gray: #87888D;
$c_text_gray2: #646E78;

