
$font-size: 16px;
$font-family: 'Open Sans';

$font-size-35: 35px;
$font-size-25: 25px;

$c-red: #FF0000;
$c-green: #078C09;
$c-yellow: #F1CC31;
$c-white: #fff;
$c-blue: #4879FB;


$c-blue-dark: #2A448A;
$c-pink: #FF00FF;

$c-bg: #0D1019;
$c-panel: #242731;
$c-text-gray: #87888D;
$c-text-gray2: #646E78;

