<div class="c-photo-video">
  <div class="c-top-calendar">
    <div class="top-calendar-header">
      <div class="day">26</div>
      <div class="date">
        <div class="date-from-text">с</div>
        <div class="date-from">1 АПР 2018</div>
        <div class="date-to-text">по</div>
        <div class="date-to">28 МАР 2018</div>
      </div>
      <div class="icon-calendar"></div>
    </div>
    <div class="top-calendar-body">
      <div class="year">
        <div class="year-left">&lt;</div>
        <div class="year-text">2018</div>
        <div class="year-right">&gt;</div>
      </div>
      <div class="months">
        <div class="months-half">
          <div class="month">ЯНВ</div>
          <div class="month">ФЕВ</div>
          <div class="month">МАР</div>
          <div class="month">АПР</div>
          <div class="month">МАЙ</div>
          <div class="month">ИЮН</div>
        </div>
        <div class="months-half">
          <div class="month">ИЮЛ</div>
          <div class="month">АВГ</div>
          <div class="month">СЕН</div>
          <div class="month">ОКТ</div>
          <div class="month">НОЯ</div>
          <div class="month">ДЕК</div>

        </div>
      </div>
    </div>
    <div class="sort-buttons">
      <button class="sort-button">Сорт. по новым</button>
      <button class="sort-button">Сорт. по возр.</button>
    </div>
    <div class="media-catalog">
      <div class="folder">
        <div class="folder-view">
          <div class="pre-view"></div>
          <div class="pre-view"></div>
          <div class="pre-view"></div>
          <div class="pre-view"></div>
        </div>
        <div class="folder-text"></div>
      </div>
      <div class="folder">
        <div class="folder-view">
          <div class="pre-view"></div>
          <div class="pre-view"></div>
          <div class="pre-view"></div>
          <div class="pre-view"></div>
        </div>
        <div class="folder-text"></div>
      </div>
      <div class="folder">
        <div class="folder-view">
          <div class="pre-view"></div>
          <div class="pre-view"></div>
          <div class="pre-view"></div>
          <div class="pre-view"></div>
        </div>
        <div class="folder-text"></div>
      </div>
      <div class="folder">
        <div class="folder-view">
          <div class="pre-view"></div>
          <div class="pre-view"></div>
          <div class="pre-view"></div>
          <div class="pre-view"></div>
        </div>
        <div class="folder-text"></div>
      </div>
      <div class="folder">
        <div class="folder-view">
          <div class="pre-view"></div>
          <div class="pre-view"></div>
          <div class="pre-view"></div>
          <div class="pre-view"></div>
        </div>
        <div class="folder-text"></div>
      </div>
      <div class="folder">
        <div class="folder-view">
          <div class="pre-view"></div>
          <div class="pre-view"></div>
          <div class="pre-view"></div>
          <div class="pre-view"></div>
        </div>
        <div class="folder-text"></div>
      </div>
      <div class="folder">
        <div class="folder-view">
          <div class="pre-view"></div>
          <div class="pre-view"></div>
          <div class="pre-view"></div>
          <div class="pre-view"></div>
        </div>
        <div class="folder-text"></div>
      </div>
      <div class="folder">
        <div class="folder-view">
          <div class="pre-view"></div>
          <div class="pre-view"></div>
          <div class="pre-view"></div>
          <div class="pre-view"></div>
        </div>
        <div class="folder-text"></div>
      </div>
      <div class="folder">
        <div class="folder-view">
          <div class="pre-view"></div>
          <div class="pre-view"></div>
          <div class="pre-view"></div>
          <div class="pre-view"></div>
        </div>
        <div class="folder-text"></div>
      </div>
    </div>

  </div>