<div class="main-block">
  <div class="block">
    <div class="top">
      <div class="photo"></div>
      <div class="text">
        <p class="title">г.Шымкент (МИО ЮКО)</p>
        <p class="description">
          Строительство 9-ти этажного 
          жилого дома по ул. Верхняя
          магитраль
        </p>
      </div>
    </div>

    <div class="bottom">
      <div class="row">
        <div class="item">
          <p class="main">8 258</p>
          <p class="sub ">Тыс.кв.метров</p>
        </div>
        <div class="item">
          <p class="main">275</p>
          <p class="sub ">Кол-во квартир</p>
        </div>
        <div class="last item">
          <p class="main yellow">+12 МЕС 20Д</p>
          <p class="sub ">Задержка</p>
        </div>
      </div>
      <div class="row">
        <div class="item">
          <p class="main">11</p>
          <p class="sub ">Пятен</p>
        </div>
        <div class="item">
          <p class="main">3 325 000</p>
          <p class="sub">Сумма инвист.тыс.тг.</p>
        </div>
        <div class="last item">
          <p class="main">81%</p>
          <p class="sub">Исполнение</p>
        </div>
      </div>
    </div>
  </div>

  <!-- second block -->
  <div class="block">
    <div class="top">
      <div class="photo"></div>
      <div class="text">
        <p class="title">г.Шымкент (МИО ЮКО)</p>
        <p class="description">
          Строительство 9-ти этажного 
          жилого дома по ул. Верхняя
          магитраль
        </p>
      </div>
    </div>

    <div class="bottom">
      <div class="row">
        <div class="item">
          <p class="main">8 258</p>
          <p class="sub ">Тыс.кв.метров</p>
        </div>
        <div class="item">
          <p class="main">275</p>
          <p class="sub ">Кол-во квартир</p>
        </div>
        <div class="last item">
          <p class="main yellow">+12 МЕС 20Д</p>
          <p class="sub ">Задержка</p>
        </div>
      </div>
      <div class="row">
        <div class="item">
          <p class="main">11</p>
          <p class="sub ">Пятен</p>
        </div>
        <div class="item">
          <p class="main">3 325 000</p>
          <p class="sub">Сумма инвист.тыс.тг.</p>
        </div>
        <div class="last item">
          <p class="main">81%</p>
          <p class="sub">Исполнение</p>
        </div>
      </div>
    </div>
  </div>



  <!-- third block -->
  <div class="block">
    <div class="top">
      <div class="photo"></div>
      <div class="text">
        <p class="title">г.Шымкент (МИО ЮКО)</p>
        <p class="description">
          Строительство 9-ти этажного 
          жилого дома по ул. Верхняя
          магитраль
        </p>
      </div>
    </div>

    <div class="bottom">
      <div class="row">
        <div class="item">
          <p class="main">8 258</p>
          <p class="sub ">Тыс.кв.метров</p>
        </div>
        <div class="item">
          <p class="main">275</p>
          <p class="sub ">Кол-во квартир</p>
        </div>
        <div class="last item">
          <p class="main yellow">+12 МЕС 20Д</p>
          <p class="sub ">Задержка</p>
        </div>
      </div>
      <div class="row">
        <div class="item">
          <p class="main">11</p>
          <p class="sub ">Пятен</p>
        </div>
        <div class="item">
          <p class="main">3 325 000</p>
          <p class="sub">Сумма инвист.тыс.тг.</p>
        </div>
        <div class="last item">
          <p class="main">81%</p>
          <p class="sub">Исполнение</p>
        </div>
      </div>
    </div>
  </div>



  <!-- fourth block -->
  
</div>