@import '../../assets/scss/variables.scss';

.main-block{
    width: 50%;
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
     
    .block {
        height: 48%;
        width: 48%;
        display: flex;        
        margin: 0.3%;
        background-color: $c-panel;
        color: $c-white;

        .gray {            
            color: $c-text-gray ;
        }

        .left {
            width: 1%;
            background-color: $c-red;
            margin-right: 0.3%;  
        }


        .right {
            width: 98.7%;
            height: 100%;    
    
            .top {
                display: flex;
                box-shadow: 0 0 20px $c-bg;
                height: 40%;
    
                .photo{
                    background-color: white;
                    width: 30%;
                    margin: 0.4%;
                }
    
                .text{
                    width: 69%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    margin: 1.2%;

                    p {
                        padding: 0.5%;
                    }

                    .description {
                        // width: 50%;
                    }
                }
            }
    
            .bottom{
                height: 60%;
    
                .row{
                    display: flex;
                    
                    height: 50%;
    
                    .item{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        width: 33.3%;                
                        height: 100%;                
                        
                        p{
                            padding: 1%;
                        }
    
                        .main{
                            font-size: 100%;                            
                        }
            
                        .sub{
                            font-size: 100%;
                        }
    
                    }
    
                    .last{
                        background-color: $c-red;
    
                        .yellow{
                            color: $c-yellow;
                        }
                    }
                }
            }
        }
    }

    

}