<ul>
  <li> Информация о ЖК
    <ul>
      <li>
        <a routerLink="/information">Информация</a>
      </li>
      <li>
        <a routerLink="/photo-video">Фото/Видео</a>
      </li>
      <li>
        <a routerLink="/camera-people">Камера люди</a>
      </li>
      <li>
        <a routerLink="/camera-technics">Камера техника</a>
      </li>
      <li>
        <a routerLink="/circumvention">Обход</a>
      </li>
    </ul>
  </li>
  <li>
    Ход строительства
    <ul>
      <li>
        <a routerLink="/construction-progress">Ход строительства(Выкуп облигаций МИО)</a>
      </li>
      <li>
        <a routerLink="/construction-stage">Этапы строительства</a>
      </li>
    </ul>
  </li>

</ul>

